<div class="main-menu">
    <header class="header">
        <p class="header__title">Match Card Game</p>
    </header>
    <div class="main-menu__content">
        <div class="main-menu__navigation">
            <a href="#play" class="main-menu__navigation-item">Play</a>
            <a href="#settings" class="main-menu__navigation-item">Settings</a>
            <a href="#about" class="main-menu__navigation-item">About</a>
            <a href="#registration" class="main-menu__navigation-item"
                >Registration</a
            >
            <a href="#score" class="main-menu__navigation-item">Score</a>
        </div>
    </div>
</div>
