<div>
    <form id="registration" class="registration">
        <input
            placeholder="First Name"
            id="firstName"
            name="firstName"
            type="text"
            required
            maxlength="30"
        />
        <input
            placeholder="Last Name"
            id="lastName"
            name="lastName"
            type="text"
            required
            maxlength="30"
        />
        <input
            placeholder="Email"
            id="email"
            name="email"
            type="email"
            required
            maxlength="30"
        />
        <input type="submit" id="saveUser" value="Save" />
        <input type="submit" id="cancelButton" value="Cancel" />
    </form>
    <div class="menu">
        <a href="#home" class="menu__item">Back</a>
    </div>
</div>
